extend layout

block content
  .header-main
  .nav.green
    li: a.nav-link(href="/", data-route="") Jarod Reyes
    li: a.nav-link.active(href="design/") Design Portfolio
  .logo-bg.main
  img.logo(src="/img/logo.png")  
  #design.container
    .main-content
      .grid.design
        .col-2-3
          img(src="/img/pillpack.png")
        .col-1-3
          h2.aqua PillPack
          p
            | This high-end online pharmacy needed a landing page that was clean, direct and seemed like a new type of pharmacy. The goal was to design a page that enticed the user without over-promising or exposing patent-pending technology.
      hr
      .grid
        .col-1-3
          h2.turq Voxy
          p
            | The goal with this landing page was to convert 2-5% of SEO traffic with simple headlines and a disruptive promise. After A/B testing multiple headlines this one stuck and we saw a 3% conversion increase. 
          p 
            | The design looks good on tablets and renders very quickly in our target markets which are mostly developing countries.
        .col-2-3
          img(src="/img/voxy_landing.png")
      hr
      .grid
        .col-2-3
          img(src="/img/mp_combo.png")
        .col-1-3
          h2.pink Message Party
          p
            | Designed the interface and user experience for the website. Responsible for all front-end development. 
          p 
            | Designed the interface and user experience for the native iphone app. It allows users to create blogs at places all from their iPhone.
      hr
      .grid
        .col-1-3
          h2.orange 48hourapps
          p
            | Designed and implemented multiple websites and UI's for <a href="http://48hourapps.com/" >48hourapps.com</a>. Since these projects are early prototypes we just needed enticing landing pages to collect emails and point press to. On two projects I designed an entire iPhone UI in addition to a landing page in less than 48 hours.
          p 
            | The aesthetic appeal of many of these landing pages depended heavily on the target demographic, which ranged from tech-nerds to educated consumers.
        .col-2-3
          img(src="/img/pocketvore_1.png")
          img(src="/img/48hourapps_1.png")
      
        
