extend layout

block content
  .header-main
  .nav.green
    li: a.nav-link(href="/", data-route="") Jarod Reyes
    li: a.nav-link.active(href="design/") Design Portfolio
  .logo-bg.main
  img.logo(src="/img/logo.png")  
  #design.container
    .main-content
      .grid.design
        .col-1-3
          h2.turq Voxy
          p
            | The goal with this landing page was to convert 2-5% of SEO traffic with simple headlines and a disruptive promise. After A/B testing multiple headlines this one stuck and we saw a 3% conversion increase. 
          p 
            | The design looks good on tablets and renders very quickly in our target markets which are mostly developing countries.
        .col-2-3
          img(src="/img/voxy_landing.png")
      hr
      .grid
        .col-2-3
          img(src="/img/mp_combo.png")
        .col-1-3
          h2.pink Message Party
          p
            | Message Party was a geo-location blogging application. I designed the website and iPhone app as well as the branding and marketing materials. The goal was to create a web 2.0 experience that was familiar and elegant.
      hr
      .grid
        .col-1-3
          h2.orange 48hourapps
          p
            | 48hourapps is a small development shop out of New York that specializes in building functional and well-designed prototypes in less than 48 hours. Aside from co-founding the group I designed and implemented multiple websites and UI's for <a href="http://48hourapps.com/" >48hourapps.com</a>.
          p 
            | On multiple projects I designed an entire iPhone UI in addition to the landing page in less than 48 hours.
        .col-2-3
          img(src="/img/pocketvore_1.png")
          img(src="/img/48hourapps_1.png")
      hr
      .grid
        .col-2-3
          img(src="/img/pillpack.png")
        .col-1-3
          h2.aqua PillPack
          p
            | Pillpack is an online pharmacy that promises to change the way we buy prescriptions. The goal was to design a page that enticed the user without over-promising or exposing patent-pending technology. 
      hr
      
        
