.header-developer
  .logo-bg
#developer.container
  .header-offset
  .main-content
    .grid.page2
      .col-1-3
        .bio-intro
          img.framed(src="/img/hackit.jpg")
          h2.turq At Voxy we are building a better
          p
            | front-end. The website uses some of the most cutting-edge languages and standards to ensure a blazingly fast exeperience in South America.
      .col-1-3
        .developer-windows
          .tap-window.data.closed

      .col-1-3
        .tweet-feed
          h2.turq Code-samples
          .block.code-hdr
            | Coffeescript, Backbone, JS
          a(href="#") Audio Player - jquery, requireJS
          a(href="#") Asynchronous widgets - backbone
          .block.code-hdr
            | HTML, Jade
          a(href="#") Script Jade !textTemplates
          a(href="#") Asynchronous widgets - jade
          .block.code-hdr
            | LESS, CSS, FONT-ICONS
          a(href="#") Icons.less
          a(href="#") Voxy-Icons Font
          a.big-link.aqua.pull-right(href="https://www.statuschart.com/jarod", target="blank") See all my code