.header-developer
  .logo-bg
#developer.container
  .header-offset
  .developer-display Developer
  .main-content
    .grid.page3
      .col-1-3
        .bio-intro
          img.framed(src="/img/hackit.jpg")
          h2.turq At Voxy we are building a better
          p
            | front-end. The website uses some of the most cutting-edge languages and standards to ensure a blazingly fast exeperience in South America.
      .col-1-3
        .developer-windows
          .tap-window.data.closed

      .col-1-3
        .tweet-feed.code-samples
          h2.turq Code-samples
          .block.code-hdr
            h3 Coffeescript, Backbone, JS, Jade
          a(href="https://gist.github.com/jarodreyes/5401916", target="_blank") Reading Window: 
            small jquery, requireJS, backbone, Marionette.Backbone, coffeescript
          a(href="https://gist.github.com/jarodreyes/5401944", target="_blank") Asynchronous widgets: 
            small Backbone, Jade
          .block.code-hdr
            h3 Javascript, Design Automation
          a(href="https://gist.github.com/jarodreyes/5401968", target="_blank") Adobe Illustrator Export Script: 
            small javascript
          .block.code-hdr
            h3 LESS, CSS, FONT-ICONS
          a(href="https://gist.github.com/jarodreyes/5401993", target="_blank") Styles: 
            small Less, CSS3
          a(href="#") More to come...
          a.big-link.aqua.pull-right(href="https://github.com/jarodreyes", target="blank") See all my code