.header-hacker
  .logo-bg
#hacker.container
  .header-offset
  .main-content
    .grid.page2
      .col-1-3
        .bio-intro
          img.framed(src="/img/hackit.jpg")
          h2.orange Break it. Build it.
          p
            | Epicurious once said “No good omelette was ever made without first killiing a good chicken.” Turns out he had no idea where eggs came from, but in this parables lies an important lesson... One out of 12 ideas is a good one, so iterate quickly and get to the next idea.
      .col-1-3
        .hacker-windows
          .tap-window.hacking.closed
          .tap-window.github.closed

      .col-1-3
        .tweet-feed
          h2.orange Hackathons & Press
          .block.hackathon
            a(href="http://panelpicker.sxsw.com/vote/3785", target="blank") SXSW Interactive: Panelist
            small Panel: After The Hackathon
            .date-time Mar. 12 2013
            .clear
          .block.hackathon
            a(href="http://comedyhackday.org/", target="blank") Comedy Hackday - SXSW
            .date-time Mar. 11 2013
            .clear
          .block.press
            a(href="http://blog.fastcompany.com/post/31541850742/comedy-hack-day-a-36-hour-hackathon-where", target="blank") Fast Company - Spacebar to Moneyshot
            small Press: My hack gets a winkful mention
            .date-time Sep. 14 2012
            .clear
          .block.hackathon
            a(href="#", target="blank") Hackathon - Hacking Medicine
            small Hackathon: MIT sponsored hackathon to promote new tech ideas in the medical industry.
            .date-time Nov. 5 2012
            .clear
          a.big-link.orange.pull-right(href="https://www.statuschart.com/jarod", target="blank") See all my projects


          
    hr
    .grid
      .col-1-3
        h2.orange The Hacker Olympics
        p
          | The impetus for this event was the realization that hackathons are taking themselves way too seriously. A few successes of companies that came out of"hackathons" has lead to an overwhelming presence of business dudes pitching subscription services for kitty litter. While this may eventually lead to a few happy cats it makes for a boring-ass time for hackers.
      .col-2-3
        <iframe src="http://player.vimeo.com/video/37138394" width="640" height="359" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
