.header-hacker
  .logo-bg
#hacker.container
  .header-offset
  .main-content
    .grid.page1
      .col-1-3
        .bio-intro
          img.framed(src="/img/profile.jpg", width="280px")
          h2.orange Break it. Build it.
          p
            | Epicurious once said “No good omelette was ever made without first killiing a good chicken.” Turns out he had no idea where eggs came from, but in this parables lies an important lesson... One out of 12 ideas is a good one, so iterate quickly and get to the next idea.
      .col-1-3
        .bio-interests
          .tap-window.closed
            .icon-commits
            .window
            h2.name Hacked
          .tap-window.closed
            .icon-github
            .window
            h2.name Commits

      .col-1-3
        .tweet-feed
          h2.orange Hackathons & Press
          .block.hackathon
            h2 SXSW Panel: After the...
            .clear
          .block.press
            h2 Spacebar makes a splash...
            .clear
