extend layout

block content
  .header-main
  .nav.green
    li: a.nav-link.active(href="#", data-route="bio/") Jarod Reyes
    li: a.nav-link(href="#", data-route="hacker/") Hacker
    li: a.nav-link(href="#", data-route="developer/") Developer
  .logo-bg
  img.logo(src="/img/logo.png")  
  #bio.container
    .main-content
      .grid.page1
        .col-1-3
          .bio-intro
            img.framed(src="/img/profile.jpg")
        .col-1-3
          .bio-intro
            h2.aqua Welcome.
            p
              | Hi there. You are either here because you were looking for the UCBerkely 1998 star-football player or because you heard there was an awesome front-end developer who was living in New York doing cool things. If it's the latter, welcome.
        .col-1-3
          .bio-interests
            .tap-window.reading.closed
            .tap-window.listening.closed
              
            //- .tap-window.seeing.closed
            //-   .icon-seeing
            //-   .window
            //-   h2.name Seeing

        .col-1-3
          .tweets
            

  include hacker
  include reading-window-template
  include tweet-template

        
