extend layout

block content
  .header-main
  .nav.green
    li: a.nav-link.active(href="#", data-route="bio/") Jarod Reyes
    li: a.nav-link(href="#", data-route="hacker/") Hacker
    li: a.nav-link(href="#", data-route="developer/") Developer
  .logo-bg.main
  img.logo(src="/img/logo.png")  
  #bio.container
    .main-content
      .grid.page1
        .col-1-3
          .bio-intro
            img.framed(src="/img/profile.jpg")
        .col-1-3
          .bio-intro
            h2.aqua Welcome.
            p
              | Hi there. My name is Jarod. I live in New York. I am a front-end developer, a hacker and I run Hacker Olympics. I've been working with startups for 6 years building products that reach Millions of users. If you'd like to chat more send me <a href="mailto:jarodreyes@gmail.com" target="_blank">an email</a>.
            .quotes
              h3.aqua 'The embodiment of M.S.H.'
              small - Peer Review 2012
        .col-1-3
          .bio-interests
            .tap-window.reading.closed
            .tap-window.listening.closed
              
  include hacker
  include developer
  include reading-window-template
  include tweet-template

        
