!!!5
html
  head
    title #{title} - Jarod Reyes
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/jquery-1.9.1.min.js")
    script(src="/scripts/underscore.js")
    script(data-main="/scripts/main", src="/scripts/require.js")
    script(src="/scripts/backbone.js")
    script(src="/scripts/backbone.marionette.min.js")

  body
    block content