!!!5
html
  head
    title #{title} - Jarod Reyes
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-1.9.1.min.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/backbone.marionette.min.js")
    script(src="/js/gh3.js")
    script(data-main="/js/main", src="/js/require.js")

  body
    block content