!!!5
html
  head
    title #{title} - Jarod Reyes
    link(rel='stylesheet', href='/css/ifttt.css')
    script(src="/js/jquery-1.9.1.min.js")
    script(src="/js/jquery.xdomainajax.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    script(src="/js/backbone.marionette.min.js")
    script(src="/js/gh3.js")
    script(data-main="/js/ifttt/main", src="/js/require.js")
    link(href="/img/fav_icon.png", rel="icon")

  body
    block content
    
  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16983953-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();