.reading-templates.hidden
	script#books-template(type="text/template")
		li.book-preview
			img(src!="<%= book.image_url %>")
			.details
				a.title(href!="<%= book.link %>") <%= book.title %>
				.author <%= book.authors.author.name %>

	script#reading-template(type="text/template")
		.icon-review-book
		small.invisible Courtesy of GoodReads.com api
		.window
			.book-list
		h2.name Reading
		
          
