.tweet-templates.hidden
	script#tweet-template(type="text/template")
		|Tweet message here. Something really clever that isnt too revealing. #goodnews
		.date-time Feb. 25, 2013
		.clear

	script#tweets-layout(type="text/template")
		h2.aqua Recent Tweets
		.twitter-feed
		
          
